# Name of the WSL instance
distro_name=UbuntuWsl

# Installation directory path
install_dir=%userprofile%\VMs

# Iso file path
iso_file=%userprofile%\Downloads\ubuntu-noble-wsl-amd64-ubuntu.rootfs.tar.gz

# Install font
install_font=false

http_proxy_wsl=
https_proxy_wsl=
no_proxy_wsl=

#############################################################################################
##################################### Advanced Settings #####################################
#############################################################################################

# Default ISO URL to be downloaded if no ISO file is given
default_iso_url=https://cloud-images.ubuntu.com/wsl/noble/20241029/ubuntu-noble-wsl-amd64-ubuntu.rootfs.tar.gz

# Target directory for wsl-quick-startup project
target_dir=/root/wsl-quick-startup

# Update WSL settings
update_wsl_settings=true

# WSL settings file path
wsl_settings_file=/mnt/c/Users/miout/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/settings.json

# Installed font name for the WSL instance
font_name=DroidSansM Nerd Font Mono

# Use acrylic for the WSL instance
use_acrylic=true

# opacity for the WSL instance
opacity=90
